<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - BMS</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/BMS.styles.css">
    </head>
    <body>
        <header b-c7vtn5ui3n="">
            <nav b-c7vtn5ui3n="" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div b-c7vtn5ui3n="" class="container-fluid">
                    <a class="navbar-brand" href="/index">BMS</a>
                    <button b-c7vtn5ui3n="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span b-c7vtn5ui3n="" class="navbar-toggler-icon"></span>
                    </button>
                    <div b-c7vtn5ui3n="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul b-c7vtn5ui3n="" class="navbar-nav flex-grow-1" th:if="${session.loggedInUser != null}">
                            <li b-c7vtn5ui3n="" class="nav-item">
                                <a class="nav-link text-dark" href="/index">Home</a>
                            </li>
                            <li b-c7vtn5ui3n="" class="nav-item">
                                <a class="nav-link text-dark" href="/privacy">Privacy</a>
                            </li>
                            <li b-c7vtn5ui3n="" class="nav-item" th:if="${(session.loggedInUser.role.name() == 'OWNER' or session.loggedInUser.role.name() == 'ADMINISTRATOR')}">
                                <a class="nav-link text-dark" href="/users">Users</a>
                            </li>
                            <li b-c7vtn5ui3n="" class="nav-item">
                                <a class="nav-link text-dark" href="/requests">Requests</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item" th:if="${session.loggedInUser == null}">
                                <a class="nav-link text-dark" href="/register">Register</a>
                            </li>
                            <li class="nav-item" th:if="${session.loggedInUser == null}">
                                <a class="nav-link text-dark" href="/login">Login</a>
                            </li>
                            <li class="nav-item" th:if="${session.loggedInUser != null}">
                                <a class="nav-link text-dark" href="/profile" th:text="'Hello ' + ${session.loggedInUser.username} + '!'">Hello User!</a>
                            </li>
                            <li class="nav-item" th:if="${session.loggedInUser != null}">
                                <a href="/logout" class="nav-link text-dark">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div b-c7vtn5ui3n="" class="container">
            <main b-c7vtn5ui3n="" role="main" class="pb-3">  
                <h2>Login</h2>
                <div class="row">
                    <div class="col-md-4">
                        <form id="loginForm" method="post" action="/login">
                            <h3>Use an account to log in.</h3>
                            <hr>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" name="username" placeholder="Username" type="text" required pattern="^[A-Za-z0-9_]{3,20}$" title="Username should be between 3 to 20 characters and only contain letters, numbers, or underscores.">
                                <label for="username">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" name="password" placeholder="Password" type="password" required minlength="6" title="Password should be at least 6 characters long.">
                                <label for="password">Password</label>
                            </div>
                            <button id="loginSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </form>
                    </div>
                    <!-- <div class="col-md-6 col-md-offset-2">
                        <section>
                            <h3>Building Owner User Registration</h3>
                            <hr>
                            <div>
                                <p>
                                Please register your Building, Credit Card and User Account details to get started!</a>.
                                </p>
                            </div>
                        </section>
                    </div> -->
                </div>
            </main>
        </div>

        <footer b-c7vtn5ui3n="" class="border-top footer text-muted">
            <div b-c7vtn5ui3n="" class="container">
                © 2024 - BMS - <a href="/privacy">Privacy</a>
            </div>
        </footer>
        
        <script src="/lib/jquery/js/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/site.js"></script>
        <script type="text/javascript" src="/js/browserLink" async="async" id="__browserLink_initializationData" data-requestid="0e7f63f54dbc48649145a877fa2cd928" data-requestmappingfromserver="false" data-connecturl="@{/js/browserLink}"></script>
        <script src="/js/aspnetcore-browser-refresh.js"></script>
    </body>
</html>