<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Request Created - BMS</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/BMS.styles.css">
    </head>
    <body>
        <header b-c7vtn5ui3n="">
            <nav b-c7vtn5ui3n="" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div b-c7vtn5ui3n="" class="container-fluid">
                    <a class="navbar-brand" href="/index">BMS</a>
                    <button b-c7vtn5ui3n="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span b-c7vtn5ui3n="" class="navbar-toggler-icon"></span>
                    </button>
                    <div b-c7vtn5ui3n="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul b-c7vtn5ui3n="" class="navbar-nav flex-grow-1" th:if="${session.loggedInUser != null}">
                            <li b-c7vtn5ui3n="" class="nav-item">
                                <a class="nav-link text-dark" href="/index">Home</a>
                            </li>
                            <li b-c7vtn5ui3n="" class="nav-item">
                                <a class="nav-link text-dark" href="/privacy">Privacy</a>
                            </li>
                            <li b-c7vtn5ui3n="" class="nav-item" th:if="${(session.loggedInUser.role.name() == 'OWNER' or session.loggedInUser.role.name() == 'ADMINISTRATOR')}">
                                <a class="nav-link text-dark" href="/users">Users</a>
                            </li>
                            <li b-c7vtn5ui3n="" class="nav-item">
                                <a class="nav-link text-dark" href="/requests">Requests</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item" th:if="${session.loggedInUser == null}">
                                <a class="nav-link text-dark" href="/register">Register</a>
                            </li>
                            <li class="nav-item" th:if="${session.loggedInUser == null}">
                                <a class="nav-link text-dark" href="/login">Login</a>
                            </li>
                            <li class="nav-item" th:if="${session.loggedInUser != null}">
                                <a class="nav-link text-dark" th:href="@{/edit-user/{id}(id=${session.loggedInUser.id})}" th:text="'Hello ' + ${session.loggedInUser.username} + '!'">Hello User!</a>
                            </li>
                            <li class="nav-item" th:if="${session.loggedInUser != null}">
                                <a class="nav-link text-dark" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div b-c7vtn5ui3n="" class="container">
            <main b-c7vtn5ui3n="" role="main" class="pb-3">  
                <h2>Creation Successful</h2>
                <h3>BMS Request Created</h3>
                <div th:if="${message != null}" class="alert alert-success alert-dismissible" role="alert">
        		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        			<span th:text="${message}"></span>
    			</div>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                    	<h4>BMS Request Details</h4>
                        <hr>
                        <div class="form-floating mb-3">
                                <input type="text" th:value="*{request.id}" readonly class="form-control" />
                                <label for="id">Id</label>
                        </div>
                            <div class="form-floating mb-3">
                                <input type="text" th:value="*{request.title}" readonly class="form-control" />
                                <label for="title">Title</label>
                            </div>
                        <div class="form-floating mb-3">
                                <!-- <input type="text" th:value="*{request.description}" readonly class="form-control" />  -->
                                <textarea class="form-control" id="description" name="description" th:text="*{request.description}" style="min-height: 200px;" readonly rows="7" maxlength="500" title="Description should be at most 500 characters long." placeholder="Description"></textarea>
                                <label for="description">Description</label>
                       	</div>
                            <!-- <div class="form-floating mb-3" th:with="fullname=${user.firstname + ' ' + user.lastname}"> -->
                            <div class="form-floating mb-3">
                                <!-- <input type="text" th:value="*{fullname}" readonly class="form-control" /> -->
                                <input type="text" th:value="*{request.user.username}" readonly class="form-control" />
                                <label for="username">Request (Username)</label>
                            </div>
                  		<div class="form-floating mb-3">
                                <input type="text" th:value="*{request.priority}" readonly class="form-control" />
                                <label for="priority">Priority</label>
                       	</div>
           				<div class="form-floating mb-3">
                                <input type="text" th:value="*{request.status}" readonly class="form-control" />
                                <label for="priority">Priority</label>
               			</div>
                        <div class="form-floating mb-3">
                            <a href="/requests" class="w-100 btn btn-md btn-secondary">Back to Requests List</a>
                    	</div>
                   		<div class="form-floating mb-3">
                            <a href="/create-request" class="w-100 btn btn-md btn-success">Create Another Request</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        

        <footer b-c7vtn5ui3n="" class="border-top footer text-muted">
            <div b-c7vtn5ui3n="" class="container">
                © 2024 - BMS - <a href="/privacy">Privacy</a>
            </div>
        </footer>
        
        <script src="/lib/jquery/js/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/site.js"></script>
        <script type="text/javascript" src="/js/browserLink" async="async" id="__browserLink_initializationData" data-requestid="0e7f63f54dbc48649145a877fa2cd928" data-requestmappingfromserver="false" data-connecturl="@{/js/browserLink}"></script>
        <script src="/js/aspnetcore-browser-refresh.js"></script>
    </body>
</html>